div{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 128, 255);
    color: white;
}
div:hover,button:hover{
    cursor: pointer;
}
button{
    position: relative;
    position: relative;
    left: 30px;
    top: 79px;
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px solid black;
}